.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  color: inherit;
  font-family: $ff-roboto;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

  &--transparent-white {
    padding: 10px 22px;
    font-size: 14px;
    line-height: 18px;
    color: $color-white;
    border: 1px solid $color-white;
    background-color: $color-transparent;

    &:hover {
      color: $color-white-70;
      border: 1px solid $color-white-70;
    }
  }

  &--transparent-blue {
    padding: 13px 53px;
    font-size: 14px;
    line-height: 18px;
    color: $color-blue;
    border: 1px solid $color-blue;
    background-color: $color-transparent;

    &:hover {
      background-color: $color-blue;
      color: $color-default-white;
    }

    @include vp-767 {
      padding: 8px 43px;
    }
  }

  &--blue {
    padding: 13px 27px;
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 28px;
    color: $color-white;
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-hover;
    }

    @include vp-767 {
      width: 100%;
      padding: 11px 27px;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &--black {
    padding: 13px 27px;
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 28px;
    color: $color-white;
    background-color: $color-black;

    &:hover {
      background-color: $color-black-15;
    }
  }
}
