.features {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: $color-white-alice;

  @include vp-1023 {
    padding-top: 79px;
    padding-bottom: 62px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 29px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 28px;
  row-gap: 28px;
  list-style: none;

  @include vp-767 {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    row-gap: 30px;
  }
}

.features__item {
  padding: 39px 40px 68px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-blue;

  &:hover {
    background-color: $color-blue;
  }

  @include vp-1023 {
    padding-bottom: 28px;
  }

  @include vp-767 {
    min-height: 325px;
    padding: 29px 32px 55px 25px;
  }
}

.features__item--fast {
  @include vp-767 {
    padding-bottom: 72px;
  }
}

.features__item svg {
  margin-bottom: 16px;
  fill: $color-blue;

  @include vp-1023 {
    margin-bottom: 11px;
  }

  @include vp-767 {
    margin-bottom: 9px;
    width: 30px;
    height: 30px;
  }
}

.features h3 {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-family: $ff-roboto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: $color-blue;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 9px;
  }
}

.features p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.features__item:hover svg {
  fill: $color-white;
}

.features__item:hover h3,
.features__item:hover p {
  color: $color-white;
}
